<h1>Leads</h1>
<table class=".table-dark">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Last Name</th>
            <th scope="col">First Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Last Follow Up</th>
            <th scope="col">Agent</th>

        </tr>
    </thead>
    <tbody>
            {{#each Client}}
            {{#if wants_follow_up}}

        <tr>
            <th scope="row">{{id}}</th>
            <td>{{last_name}}</td>
            <td>{{first_name}}</td>
            <td>{{gender}}</td>
            <td>{{phone}}</td>
            <td>{{email}}</td>
            <td>{{last_follow_up}}</td>
            {{!-- //need to reference agent name // --}}
            <td>{{agent_id}}</td>
        </tr>
         {{/if}}
         {{/each}}
    </tbody>
</table>

